:root {
  --palette-black:#121619;
  --palette-green: #2D4739;
  --palette-light-green: #09814A;
  --palette-grey: #BCB382;
  --palette-light: #E5C687;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.grid-container {
  display: grid;
  background-color: var(--palette-black);
  padding: 10px;
}

.grid-item {
  background-color: var(--palette-light);
  border: 1px solid var(--palette-black);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}